node_modules
dist
.env
.env.local  

.wrangler
.wrangler.toml.example
.dev.vars
.dev.vars.example
config.json
config.example.json
wrangler.toml

drizzle

package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb